<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <form #provinciaForm="ngForm" *ngIf="localidad" novalidate>
      <div class="modal-header">
        <h4 class="modal-title">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label class="col-form-label">
             Provincia:
          </label>
          <br>
          <i> {{localidad.provincia?.nombre}} </i>
        </div>

        <div class="form-group">
          <label class="col-form-label" for="codigoPostal">
            Codigo Postal:
          </label>
          <input type="text" class="form-control"
                 name="codigoPostal" OnlyNumber="true"
                 #codigoPostal="ngModel"
                 placeholder="Codigo postal..."
           [(ngModel)]="localidad.CodigoPostal"
           required
           pattern="[0-9]+">

        </div>

        <div class="form-group">
          <label class="col-form-label" for="nombre">
           Localidad :
          </label>
          <input type="text" class="form-control" #nombre="ngModel" name="nombre" placeholder="Nombre..." [(ngModel)]="localidad.nombre" required pattern=".{3,50}">
        </div>

        <div class="alert alert-danger" [hidden]="provinciaForm.form.valid || !provinciaForm.form.dirty">
          <ul *ngIf="nombre.dirty && !nombre.valid">
            <li *ngIf="nombre.errors?.required">El nombre es requerido</li>
            <li *ngIf="nombre.errors?.pattern">La descripcion debe entre 3 y 25 caracteres</li>
          </ul>
          <ul *ngIf="codigoPostal.dirty && !codigoPostal.valid">
            <li *ngIf="codigoPostal.errors?.required"> El Codigo Postal es requerido</li>
          </ul>
        </div>

        <!-- <pre>{{localidad | json}}</pre> -->

      </div>
      <div class="modal-footer">

        <button [disabled]="provinciaForm.invalid" type="submit" class="btn btn-success" (click)="save(provinciaForm)">
                <i class="fa fa-floppy-o fa-1x" aria-hidden="true"></i>
                Guardar
         </button>

        <button type="submit" class="btn btn-danger" (click)="hideChildModal()">
          <i class="fa fa-reply fa-1x" aria-hidden="true"></i>
            Cancelar
       </button>

      </div>

    </form>

  </div>

</div>










<!-- <div class="side-form">

  <h3> {{ titulo }} <small>{{localidad.nombre | lowercase}}</small></h3>
   <form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate>
     <hr>
     <br>

    <div class="form-group row ">
      <label for="combo " class="col-form-label col-sm-2">Provincia</label>
      <div class="col-sm-10">
        <select class="form-control " id="combo "
                name="provincia"
                [(ngModel)]="provinciaSelected"
                (change)="onSelect()">

          <div *ngIf="provinciaSelected">
            <option >{{provinciaSelected}}</option>
          </div>

          <option *ngFor="let item of provincias "
                 class="option"
                 [class.selected]="item === provinciaSelected "
                 [ngValue]="item ">
                 {{item.nombre}}
         </option>
     </select>
      </div>
    </div>



    <div class="form-group row ">
      <label class="col-form-label col-sm-2 " for="name ">
          <i class="fa fa-font " aria-hidden="true "></i> Nombre
        </label>

      <div class="col-sm-10">
          <input [(ngModel)]="localidadSelected.nombre"
             name="nombre"
             #nombre="ngModel"
             class="form-control"
             type="text"
             placeholder="Nombre de la provincia..." required pattern=".{3,25}">
      </div>
    </div>



    <hr>

    <div class="row ">
      <div class="form-group offset-sm-4 ">
        <button [disabled]="forma.invalid " type="submit " class="btn btn-outline-primary ">
                <i class="fa fa-floppy-o fa-1x " aria-hidden="true "></i>
                Guardar
     </button>

     <button [routerLink]="['/localidad']" type="button" class="btn btn-outline-danger">
             <i class="fa fa-reply fa-1x" aria-hidden="true"></i>
             Cancelar
   </button>

      </div>
    </div>


    <div class="alert alert-danger " [hidden]=" forma.form.valid || !forma.form.dirty ">
      <ul *ngIf="nombre.dirty && !nombre.valid ">
        <li *ngIf="nombre.errors?.required ">El nombre es requerido</li>
        <li *ngIf="nombre.errors?.pattern ">La descripcion debe entre 3 y 25 caracteres</li>
      </ul>
    </div>
  </form>

</div> -->
